/* src/components/PlantDetails.css */
.container {
  max-width: 600px; /* Match this with your main container */
  margin: auto; /* Center the container */
  padding: 20px; /* Add padding if needed */
}

h2 {
  font-weight: bold;
  font-family: cursive;
}